@font-face {
    font-family: "iransens";
    src: url("../font/Vazir-Thin.woff2");
}
body{
    font-family: "iransens", sans-serif;
    /*background-color: #eaeaea ;*/
}
.a_title_name{
    font-family: "Monotype Corsiva", sans-serif;
}
.spn_ic{
    direction: rtl;
    text-align: right;
}
.ul_list{
    text-align: right;
    text-decoration: none;
    float: right;
}
.ul_list li{
   margin-top: 10px;
}
ul li a {
    text-decoration: none;
    padding: 5px;
    color: #2c3034;
}
ul li i{
    padding: 5px;
    color: #0d6efd;
}
.a_icon i{
    color: #676767;
    opacity: .5;
}
.a_icon i:hover{
    opacity: 1;
    color: #0d6efd;
}
@media screen {
    .div-sidebar{
        min-width: 100px;
    }
}

@media (min-width: 576px) {
    .div-sidebar{
        min-width: 180px;
    }
}

.progress {
    margin-bottom: 20px;
    padding-right: 0px;
}

.progress-bar {
    width: 0;
}
.title_tech_stack{
    font-family: Arial;
}

.progress .progress-bar {
    transition: unset;
}
.p_contact{
    margin-top: 40px;
}
.home_section{
    min-height: 500px;
}

/*
favorites style
*/
.container {
    margin: 4em auto;
}

.inner-container {
    position: relative;
    max-width: 20%;
    min-width: 360px;
    height: 300px;
    width: 100%;
    margin: 0 auto 100px;
}

.content {
    position: absolute;
    opacity: 0;
    top: 2em;
    left: 10%;
    width: 80%;
    margin: 0 auto;
}

.active {
    display: block !important;
    margin: 0 auto;
    opacity: 1;
    transition: ease-in-out 1s;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 2em 0;
    height: 300px;
    box-sizing: border-box;
    transition: 0.3s ease;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.35);
}
.card:first-child, .card:nth-child(2) {
    background: #0d6efd;
    height: 8px;
    border-radius: 5px 5px 0 0;
    padding: 0;
    box-shadow: none;
}
.card:first-child {
    margin: 0 20px;
    background: #0d6efd;
}
.card:nth-child(2) {
    margin: 0 10px;
}
.card .progress-container {
    background: rgba(37, 117, 252, 0.2);
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
.card .progress-container .step {
    background-color: #2575fc;
    height: 6px;
    width: 33%;
    border-radius: 0 0 0 5px;
}

h1 {
    font-family: "iransens", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: #0d6efd;
    margin: 0;
}

p {
    margin-top: 0;
}

a {
    color: #0d6efd;
    text-decoration: none;
    position: relative;
    display: flex;
}
a:before {
    content: "";
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 0%;
    border-bottom: 2px solid #00CED1;
    transition: 0.3s;
}

   /*style menu list about*/
.li-a:nth-child(1)>a:hover:before {
    width: 140px;
}
.li-a:nth-child(2)>a:hover:before {
    width: 110px;
}
.li-a:nth-child(3)>a:hover:before {
    width: 90px;
}
.li-a:nth-child(4)>a:hover:before {
    width: 110px;
}
    /*style menu list about*/

/*
favorites style
*/